/* GENERAL */
:root {
    --dc-bg-nav: #0c243a;
}
/* HEADER */
header {
    height: 70px;
}
/* Wrapper */
.wrapper {
    margin-top: 70px;
}
/* Sidebar */
#sidebar {
    height: calc(100vh - 70px);
    width: 150px;
    background-color: var(--dc-bg-nav);
    background-image: url("../img/sidebar-bg.png");
}
/* MAIN */
main {
    height: calc(100vh - 70px);
}

th img {
    width: 30px;
}

/* MEDIA QUERY */
@media screen and (max-width: 768px) {
    #sidebar {
        width: 68px;
    }
}